## remove old-style www prefix and redirect everything to https
server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name "~^www\.(?<dst>.*)$";

  return 301 http://$dest$request_uri;
}

server {
  listen 8080; 

  server_name localhost;

  root /var/www/;
  index index.php index.html index.htm;

  # rewrite this path
  rewrite ^/game$ /layout.php last;

  location / {
    try_files $uri $uri/ =404;
    auth_basic "Restricted Content";
    auth_basic_user_file /etc/nginx/.htpasswd;
  }
  location /errorpages/ {
    alias /var/www/errorpages/;
    internal;
  }  
  location ~* (\.ini\.php)$ {
    deny all;
  }
  location ~* \.(js|css|png|jpg|jpeg|gif|ico|html|htm)$ {
    expires       -1;
    log_not_found off;
    access_log    off;
  }
  location ~ \.php$ {
    try_files     $uri =404;
    include       fastcgi_params;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    # fastcgi_pass  unix:/var/run/php5-fpm.sock;
    fastcgi_pass  unix:/var/run/hhvm/hhvm.sock;
  }

}

## VHOSTS
server {
  listen 80;

  server_name ~^((?<sub>.+)\.)?(?<domain>.+\..+)$;

  root /var/www/$domain/$sub;
  index index.php index.html index.htm;

  # rewrite this path
  rewrite ^/game$ /layout.php last;

  #fastcgi_read_timeout 1800;

  location /errorpages/ {
    alias /var/www/errorpages/;
    internal;
  }  
  location ~* (\.ini\.php)$ {
    deny all;
  }
  location ~ /.well-known {
    allow all;
  }
  location ~* \.(js|css|png|jpg|jpeg|gif|ico|html|htm)$ {
    expires       max;
    log_not_found off;
    access_log    off;
  }
  location ~ \.php$ {
    try_files     $uri =404;
    include       fastcgi_params;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    # fastcgi_pass  unix:/var/run/php5-fpm.sock;
    fastcgi_pass  unix:/var/run/hhvm/hhvm.sock;
  }

}